<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="default.aspx" />
                <remove value="iisstart.htm" />
                <remove value="index.htm" />
                <remove value="Default.asp" />
                <remove value="Default.htm" />
            </files>
        </defaultDocument>
        <handlers>
            <add name="cgi" path="*.cgi" verb="*" modules="CgiModule" scriptProcessor="C:\Python27\python.exe %s %s" resourceType="Unspecified" />
        </handlers>
        <staticContent>
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
            <mimeMap fileExtension=".m3u8" mimeType="application/x-mpegURL" />
        </staticContent>
    </system.webServer>
</configuration>
